
.lightbox-window {
  position: absolute;
  width: 100%;
  height: 100%;
  background:
    rgba(0, 0, 0, 0.75);
}

.lightbox-image-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}

.lightbox-image {
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}

button {
  background-color: #cfd8dc;
  color: black;
  border: 1px solid white;
}